<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
  <mdb-breadcrumb customClass="indigo lighten-5">
    <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Asesores</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Curso de capacitación</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Enfoques</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>


<!--Text-->
<div class="container">
  
    <h3 class="text-left text-default mt-4 font-weight-bold"> Enfoques</h3>

    <br>

        <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Lengua y Comunicación</h5>

            <p class="dark-grey-text text-justify"> 
                El programa de Lengua y Comunicación considera las experiencias y saberes de los adultos como el punto de partida para proponer nuevos conocimientos y para propiciar la reflexión sobre el uso y las características del lenguaje.
            </p>
            <p class="dark-grey-text text-justify">     En este programa se propone un enfoque donde lo central es el estudio del lenguaje tal y como se usa en la vida social: para qué, cuándo y dónde se usa; con quién y cómo se puede o se debe usar. Se propone la reflexión sobre las funciones, las formas y los contenidos del lenguaje a partir del uso que hacemos de él por medio de los diferentes tipos de texto.
            </p>
            <p class="dark-grey-text text-justify">     Interesa entonces, que los adultos comprendan la utilidad de un oficio, una agenda, un currículum vitae, un cuento, un artículo científico, un contrato, una carta, etcétera, así como el conocimiento de los aspectos que deben tomarse en cuenta para interpretarlos (leerlos) o para producirlos (escribirlos). El estudio de la gramática y la ortografía se realiza a partir de la lectura o escritura de estos textos, como una forma de comprender mejor lo que se lee y de darse a entender mejor el escribir.
            </p>
            <p class="dark-grey-text text-justify">     Asímismo, la lengua hablada también se aborda desde los programas de televisión, con el objeto de apoyar el estudio de las necesidades de comunicación oral.
            </p>

        <hr>  
    
        <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Cálculo y Resolución de Problemas</h5>

            <p class="dark-grey-text text-justify"> 
                El programa de Cálculo y Resolución de Problemas desarrolla habilidades y estrategias que le permiten al adulto afrontar con éxito situaciones de la vida diaria donde las matemáticas están presentes.
            </p>
            <p class="dark-grey-text text-justify">     El pensamiento del adulto se dirige, por medio de este programa, al desarrollo de estrategias para la resolución de problemas y a la confrontación de éstos con la realidad. Así los adultos amplían sus habilidades y adquieren mayor interés por aprender cuanto más cercanos estén los nuevos conocimiento a su vida. Las matemáticas serán para él herramientas funcionales y flexibles que ayudarán a resolver las problemáticas diarias.
            </p>
            <p class="dark-grey-text text-justify">     Las matemáticas permiten resolver problemas en diversos ámbitos, tales como el científico, el técnico y el artístico: así como también en la vida diaria. Si bien el adulto a construido a través de su experiencia diferentes conocimientos matemáticos, la mayoría de las veces, tales como conocimientos no son suficientes. En tal caso, es necesario desarrollar procedimientos convencionales que permitan resolver las mismas situaciones con mayor facilidad y rapidez.
            </p>
            <p class="dark-grey-text text-justify">     El contar con las habilidades, conocimientos y formas de expresión que este programa proporciona, facilitará la comunicación y la comprensión de la información matemática, así como la toma de decisiones y el desarrollo de estrategias capaces de permitir al adulto desenvolverse de manera acertada y eficaz en sus actividades. Es por ello que el área de Cálculo y Resolución de Problemas parte de diversos contextos útiles para el adulto y de los conocimientos que ha adquirido, así como de las situaciones a las que se enfrenta diariamente.
            </p>
    
        <hr>  

        <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Salud y Ambiente</h5>

            <p class="dark-grey-text text-justify"> 
                El programa del área de Ciencias naturales se desarrolla alrededor de los ejes de Salud y Ambiente y busca que el aprendizaje del adulto se base en la construcción de nuevos conocimientos a partir de los ya disponibles.
            </p>
            <p class="dark-grey-text text-justify">     A través del manejo metodológico de cada sesión, se pretende que el adulto incorpore a su quehacer cotidiano conocimientos, prácticas y hábitos capaces de contribuir al cuidado de la salud y el entorno, además de adquirir explicaciones básicas acerca del funcionamiento del cuerpo humano y del ambiente, considerado, este último, en su dimensión integradora.
            </p>
            <p class="dark-grey-text text-justify">     Con la intención de responder a los intereses y necesidades generales del usuario se eligieron temas relacionados con su realidad social y cultural. Estos temas son tratados de manera accesible. Es así que durante el desarrollo de los contenidos, tanto en el material escrito como en el audiovisual, se integran diversas temáticas, con la finalidad de establecer relaciones entre el contexto donde se desarrolla el adulto, los hechos y fenómenos naturales que le rodean, de tal manera que los nuevos conocimientos contribuyan a mejorar su calidad de vida.
            </p>

        <hr class="my-4">  

        <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Familia, Comunidad y Sociedad</h5>

            <p class="dark-grey-text text-justify"> 
                El programa de Familia, Comunidad y Sociedad se estructura tomando en cuenta la experiencia y los conocimientos que las personas adultas han adquirido a lo largo de su vida en los diversos ámbitos de participación, como el familiar, el escolar, el comunitario y el laboral. De esa manera, el área presenta un enfoque que permite la comprensión de los rasgos y conflictos centrales característicos del mundo en que vivimos; fomenta actividades y hábitos propios de las sociedades democráticas; impulsa la afirmación del adulto como un individuo con derechos y obligaciones en nuestra sociedad y busca el desarrollo de competencias necesarias para el manejo riguroso y crítico de distinta clase de información.
            </p>
            <p class="dark-grey-text text-justify">   Los contenidos de Familia, comunidad y sociedad buscan mostrar al adulto formas organizadas y críticas de interpretar los fenómenos sociales en que se halla inmerso, de tal forma que cuestiones sus propias concepciones y considere la validez de explicaciones diferentes a las suyas. Con este fin, se emplean diversas estrategias entre las que destaca la reflexión, que el adulto deberá plasmar por escrito sistemáticamente a lo largo del curso. Así, en tanto comprenda mejor el origen de los fenómenos que lo rodean, se sentirá con mayor capacidad para influir sobre su vida y su entorno; distinguirá los derechos y deberes que le corresponden como ciudadano, y reconocerá la importancia de su participación en la toma de decisiones que afectan a la colectividad.
            </p>
        <br>

</div>



<app-footer></app-footer>
