<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
    <mdb-breadcrumb customClass="indigo lighten-5">
      <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Asesores</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Perfil y funciones</mdb-breadcrumb-item>
    </mdb-breadcrumb>
  </div>

<!--Text-->
<div class="container">
    <h3 class="text-left text-default mt-4 font-weight-bold"> Perfil y funciones del Asesor</h3>

    <br>

    <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Requisitos de Ingreso</h5>

    <p> En SEA se requiere un asesor por área de conocimiento, quien podrá trabajar con un grupo de 30 estudiantes 
        como máximo, mismo al que atenderá una vez a la semana en una sesión de 90 minutos. 
    </p>

    <p>Pueden ser asesores de SEA personas mayores de 18 años, cuyo grado mínimo de estudios sea educación media 
        superior certificada y que tengan estudios o conocimientos afines a las áreas básicas de conocimiento 
        (Español, Matemáticas, Ciencias Naturales, Ciencias Sociales).
    </p>

    <hr class="my-4">    

    <h5 _ngcontent-otn-c60="" class="dark-grey-text text-justify font-weight-bold">Los Asesores de SEA deberán:</h5>

    <p class="ml-4 mb-5"> 
        <li>Tener disposición para involucrarse en un proceso innovador de enseñanza y de aprendizaje 
        con el uso de los medios y métodos propios de la educación a distancia.</li>
        <li>Identificar los principios de la educación a distancia para adultos.</li>
        <li>Fomentar hábitos de estudio independiente.</li>
        <li>Desarrollar habilidades para el uso de las Tecnologías de la Información y Comunicación.</li>
        <li>Conocer los materiales impresos y audiovisuales de SEA.</li> 
        <li>Estar dispuestos a participar en actividades de actualización permanente.</li> 
        <li>Poseer la sensibilidad necesaria para el trato con los estudiantes.</li> 
        <li>Ayudar a los estudiantes a resolver sus problemas y guiarlos a fin de que logren estudiar adecuadamente.</li> 
        <li>Motivar a los estudiantes y ofrecerles la ayuda necesaria para que obtengan los mejores resultados posibles.</li> 
        <li>Valorar la experiencia y conocimientos previos de los estudiantes.</li> 
        <li>Mostrar una actitud de servicio y compromiso con la comunidad.</li> 
        <li>Manifestar actitudes y habilidades para la resolución de problemas.</li> 
    </p>

</div>

<app-footer></app-footer>