<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
  <mdb-breadcrumb customClass="indigo lighten-5">
    <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Asesores</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Curso de capacitación</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Materiales</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>

<!--Text-->
<div class="text-center container">
  
    <h3 class="text-left text-default mt-4 font-weight-bold"> Materiales</h3>
    <br>

    <div class="row">
    <div class="col-6 col-md-6 col-lg-3">
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEASESORG-G-INDUCCION-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEASESORG-G-INDUCCION-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>
      <p>Guía de Inducción</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-LENGUA-G-ASESOR-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-LENGUA-G-ASESOR-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Lengua y Comunicación (NI)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-LENGUA-G-ASESOR-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-LENGUA-G-ASESOR-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Lengua y Comunicación (NA)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-CALCULO-G-ASESOR-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-CALCULO-G-ASESOR-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Cálculo y Resolución de Problemas (NI)</p>
      
    </div>
    
    <div class="row">
    <div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-CALCULO-G-ASESOR-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-CALCULO-G-ASESOR-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Cálculo y Resolución de Problemas (NA)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-SALUD-G-ASESOR-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-SALUD-G-ASESOR-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Salud y Ambiente (NI)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-SALUD-G-ASESOR-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-SALUD-G-ASESOR-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Salud y Ambiente (NA)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">

          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-FAMILIA-G-ASESOR-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-FAMILIA-G-ASESOR-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Familia, Comunidad y Sociedad (NI)</p>
      
   </div>
   
   <div class="row">
    </div><div class="col-6 col-md-6 col-lg-3">

          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-FAMILIA-G-ASESOR-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-FAMILIA-G-ASESOR-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p>Familia, Comunidad y Sociedad (NA)</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">
        
          <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-PLAN-PROGR-ESTUDIO.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-NVOS-APOY-TERM-SECU-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>
      <p>Guía para el Asesor. Nuevos Apoyos para Terminar la Secundaria</p>
      
    </div><div class="col-6 col-md-6 col-lg-3">
        
          <a target="_blank" href="docs/documentos/PDF_SEA/SEA-PLAN-PROGR-ESTUDIO.pdf" target="_blank" class="pdf_descargas" title="">
            <img src="../assets/img/SEA-PLAN-PROGR-ESTUDIO.png" class="img-responsive animated portada_doc" height="320px" width="230px">
          </a>

      <p> Plan y Programas de Estudio</p>
      
    </div></div>    
    </div>

</div>

<app-footer></app-footer>