<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
  <mdb-breadcrumb customClass="indigo lighten-5">
    <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Estudiantes</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Cursos</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>


<!--Text-->
<div class="container">
    <h3 class="text-left text-default mt-4 font-weight-bold"> Cursos</h3>
    <br> 
</div>

<section class="my-1">
  <div class="container">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-xl-3 col-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
        <img class="img-fluid" src="assets/img/induccion.png" alt="Sample image">
        <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-NVOS-AP-G-INDUC-BAJA.pdf">
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-9 col-xl-9 col-8">

      <!-- Post title -->
      <h4 class="font-weight-bold text-info mb-3"><strong>Curso de Inducción</strong></h4>
      <!-- Excerpt -->
      <p class="dark-grey-text text-justify"><span class="font-weight-bold">Nuevos apoyos... para volver a estudiar</span> tiene el propósito de que usted trabaje actividades que lo ayuden a 
        conocer e identificar, de manera más fácil y agradable, sus propios modos de estudio.</p>
        <p class="dark-grey-text text-justify">
        El libro se compone de cuatro unidades con cinco sesiones de estudio cada una, llamadas sesiones de aprendizaje, con el deseamos 
        apoyarlo para que desarrolle distintas formas y estrategias de aprendizaje en Secundaria a Distancia para Adultos.</p>
      <!-- Read more button -->
      <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-NVOS-AP-G-INDUC-BAJA.pdf">
        <button mdbBtn rounded="true" type="button" target="_blank" color="default" mdbWavesEffect>Descargar guía de inducción</button>
      </a>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-xl-3 col-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
        <img class="img-fluid" src="assets/img/certificacion.png" alt="Sample image">
        <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-NVOS-AP-TERM-G-CERTI-BAJA.pdf" >
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-9 col-xl-9 col-8">

      <!-- Post title -->
      <h4 class="font-weight-bold text-info mb-3"><strong>Curso de Certificación</strong></h4>
      <!-- Excerpt -->
      <p class="dark-grey-text text-justify"> <span class="font-weight-bold">Nuevos apoyos... para terminar la secundaria</span> tiene el propósito de apoyarlo para que usted concluya 
        sus estudios de secundaria.</p>
        <p class="dark-grey-text text-justify">
        El libro está organizado en cuatro unidades, cada una corresponde a las diferentes áreas de estudio: Lengua y Comunicación, 
        Cálculo y Resolución de Problemas, Salud y Ambiente, y Familia, Comunidad y Sociedad. Las unidades están conformadas por cinco 
        sesiones de aprendizaje, donde usted encontrará los contenidos básicos que le permitirán reforzar sus conocimientos y aprender 
        sobre algunos temas que sabemos serán de su interés.</p>

      <!-- Read more button -->
      <a target="_blank" href="https://sea.sep.gob.mx/docs/documentos/PDF_SEA/SEA-NVOS-AP-TERM-G-CERTI-BAJA.pdf" >
      <button mdbBtn rounded="true" type="button" color="default-3" mdbWavesEffect>Descargar guía de certificación</button> 
      </a>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <br class="my-5">



</div>

</section>


<app-footer></app-footer>

