<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
  <mdb-breadcrumb customClass="indigo lighten-5">
    <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Estudiantes</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Materiales</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>


<!--Text-->
<div class=" text-center container">
    <h3 class="text-left text-default mt-4 font-weight-bold"> Materiales</h3>
    <p class="text-justify mt-4 mb-4"> Los materiales impresos poseen la información básica y las actividades de aprendizaje que permiten al estudiante construir el conocimiento y desarrollar competencias, habilidades, destrezas, valores y actitudes favorables a sus intereses y a los de su comunidad. Estan estructurados para apoyar de forma permanente al alumno(a), aprovechando los conocimientos que ha adquirido a lo largo de su vida.</p>
    <hr class="mt-4">
    <h3 class="text-left text-default mt-4 font-weight-bold">Documentos de descarga</h3>
    <br>
    <div class="row">

      <div class="col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-LENGUA-GA-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-LENGUA-GA-NI-BAJA.png" class="img-responsive animated" height="320px" width="230px">
            </a>
        <p>Lengua y Comunicación (NI)</p>
      </div>
      <div class=" col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-LENGUA-GA-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-LENGUA-GA-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Lengua y Comunicación (NA)</p>
      </div>
      <div class=" col-6 col-md-6 col-lg-3  ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-CALCULO-GA-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-CALCULO-GA-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Cálculo y Resolución de Problemas (NI)</p>
      </div>
      <div class=" col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-CALCULO-GA-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-CALCULO-GA-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Cálculo y Resolución de Problemas (NA)</p>
      </div>

    </div>

      <div class="row">
      <div class="col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-SALUD-GA-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-SALUD-GA-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Salud y Ambiente (NI)</p>
      </div>
      <div class="col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-SALUD-GA-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-SALUD-GA-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Salud y ambiente (NA)</p>
      </div>
      <div class="col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-FAMILIA-GA-NI-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-FAMILIA-GA-NI-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Familia, Comunidad y Sociedad (NI)</p>
      </div>
      <div class="col-6 col-md-4 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-FAMILIA-GA-NA-BAJA.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/SEA-FAMILIA-GA-NA-BAJA.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Familia, Comunidad y Sociedad (NA)</p>
      </div>
    </div>

    <div class="row">

      <div class="col-6 col-md-6 col-lg-3 ">
            <a target="_blank" href="assets/doc/PDF_SEA/PROGRAMAS_TV_SEA_APOYOTEMATICO.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/PROGRAMAS_TV_SEA_APOYOTEMATICO.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Apoyo Temático </p>
      </div>
      <div class="col-6 col-md-6 col-lg-3 ">
       
            <a target="_blank" href="assets/doc/PDF_SEA/PROGRAMAS_TV_SEA_RECAPITULACIONSEMANAL.pdf" target="_blank" class="pdf_descargas" title="">
              <img src="assets/img/PROGRAMAS_TV_SEA_RECAPITULACIONSEMANAL.png" class="img-responsive animated portada_doc" height="320px" width="230px">
            </a>
        <p>Recapitulación Semanal</p>
      </div>
    </div>
  </div>

<app-footer></app-footer>

