<app-header></app-header>
<app-navegacion></app-navegacion>

<div class="container text-muted mt-3">
    <mdb-breadcrumb customClass="indigo lighten-5">
        <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active">SEA</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">Materiales Audiovisuales</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">{{nombre}}</mdb-breadcrumb-item>
    </mdb-breadcrumb>
</div>

<div>
    <div class="container">
        <h1 class="text-center text-default font-weight-bold my-5">Materiales Audiovisuales SEA</h1>

        <div class="btn-group">

            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/lyc']" (click)="ruta(1)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-3">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="book-open"></mdb-icon></span> Lengua y Comunicación </h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/cyrp']" (click)="ruta(2)">
                        <div class="card" style="height: 120px; ">
                            <div class="card-body-2">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="pen"></mdb-icon></span> Cálculo y Resolución de Problemas </h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/sya']" (click)="ruta(3)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-4">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="briefcase-medical"></mdb-icon></span> Salud y Ambiente </h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/fcys']" (click)="ruta(4)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-5">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="laugh"></mdb-icon></span> Familia, Comunidad y Sociedad </h5>
                            </div>
                        </div>

                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container mt-5 mb-5">

    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="buscar()">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-lg-5">
                <div class="md-form">
                    <mdb-select-2 placeholder="Elige una opción" label="Selecciona un Nivel" formControlName="nivel">
                        <mdb-select-option *ngFor="let option of nivel" [value]="option.value">{{ option.label }}</mdb-select-option>
                    </mdb-select-2>
                    <small class="text-danger" *ngIf="nivelNoValido">
                        Elige una opción
                    </small>
                </div>
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5">
                <div class="md-form">
                    <mdb-select-2 placeholder="Elige una opción" label="Selecciona un Tipo de Video" formControlName="video">
                        <mdb-select-option *ngFor="let opt of video" [value]="opt.value">{{ opt.label }}</mdb-select-option>
                    </mdb-select-2>
                    <small class="text-danger" *ngIf="videoNoValido">
                        Elige una opción
                    </small>
                </div>
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2">
                <div class="md-form text-center">
                    <button mdbBtn type="submit" color="default" outline="true" size="lg" mdbWavesEffect>Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <table id="tableSortExample" mdbTable class="z-depth-1 mb-5" *ngIf="id_nivel and id_video">
        <thead>
            <tr>
                <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{ head | titlecase }}

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of elements; let i = index">
                <th scope="row">{{ el.sesion }}</th>

                <td>{{ el.nombre }}</td>
                <td>{{ el.t_video }}</td>
                <td>
                    <a *ngIf="el.url_aprende" href="{{el.url_aprende}}" target="_blank">
                        <mdb-icon fas icon="play-circle" size="2x" class="text-danger pr-3"></mdb-icon>
                    </a>
                    <a *ngIf="el.googled && !el.url_aprende" href="{{el.googled}}" target="_blank">
                        <mdb-icon fas icon="play-circle" size="2x" class="indigo-text pr-3"></mdb-icon>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>




</div>



<app-footer></app-footer>