<app-header></app-header>

<div class= "container text-muted mt-3">
    <mdb-breadcrumb customClass="indigo lighten-5">
      <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Materiales Audiovisuales</mdb-breadcrumb-item>
    </mdb-breadcrumb>
  </div>

<div>
    <div class="container">
        <h1 class="text-center text-default font-weight-bold my-5">Materiales Audiovisuales SEA</h1>

        <div class="btn-group">

            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/lyc']" (click)="ruta(1)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-3">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="book-open"></mdb-icon></span>
                                    Lengua y Comunicación </h5>
                            </div>
                        </div>
        
                    </a>
                </div>
        
                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/cyrp']" (click)="ruta(2)">
                        <div class="card" style="height: 120px; ">
                            <div class="card-body-2" >
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="pen"></mdb-icon></span>
                                    Cálculo y Resolución de Problemas </h5>
                            </div>
                        </div>
        
                    </a>
                </div>
        
                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/sya']" (click)="ruta(3)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-4">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="briefcase-medical"></mdb-icon></span>
                                    Salud y ambiente  </h5>
                            </div>
                        </div>
        
                    </a>
                </div>
        
                <div class="col-lg-3 col-sm-6 mt-1">
                    <a [routerLink]="['/audiovisuales/fcys']" (click)="ruta(4)">
                        <div class="card" style="height: 120px;">
                            <div class="card-body-5">
                                <h5 class="card-title text-white font-weight-bold mt-2">
                                    <span class="float-right display-5 opacity-5"><mdb-icon class="gradient-1" fas icon="laugh"></mdb-icon></span>
                                    Familia, Comunidad y Sociedad </h5>
                            </div>
                        </div>
        
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container mt-5">
     <!-- Nav tabs -->
 <mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'" class="mb-5">
    <!--Panel 1-->
    <mdb-tab heading="Nivel Inicial">
        <div class="row">
            <div class="col-12">
                <table id="tableSortExample" mdbTable class="z-depth-1">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{ head | titlecase }}
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of elements; let i = index" >
                            <th scope="row" *ngIf="el.id_nivel == 1">{{ el.sesion }}</th>
                            <!--<td *ngIf="el.id_nivel == 1">{{ el.img }}</td>-->
                            <td *ngIf="el.id_nivel == 1">{{ el.nombre }}</td>
                            <td *ngIf="el.id_nivel == 1">{{ el.t_video }}</td>
                            <td *ngIf="el.id_nivel == 1"><a href="{{el.googled}}" target="_blank">link</a></td>
                      
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Nivel Avanzado">
        <div class="row">
            <div class="col-12">
                <table id="tableSortExample" mdbTable class="z-depth-1">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{ head | titlecase }}
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of elements; let i = index" >
                            <th scope="row" *ngIf="el.id_nivel == 2">{{ el.sesion }}</th>
                            <!--<td *ngIf="el.id_nivel == 2">{{ el.img }}</td>-->
                            <td *ngIf="el.id_nivel == 2">{{ el.nombre }}</td>
                            <td *ngIf="el.id_nivel == 2">{{ el.t_video }}</td>
                            <td *ngIf="el.id_nivel == 2 and el.googled != ''"><a href="{{el.googled}}" target="_blank">link</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>
<br><br><br>



</div>



<app-footer></app-footer>