<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
    <mdb-breadcrumb customClass="indigo lighten-5">
      <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Coordinadores estatales</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Instalar una sede SEA</mdb-breadcrumb-item>
    </mdb-breadcrumb>
  </div>

<!--Text-->
<div class="container">
    <h3 class="text-left text-default mt-4 font-weight-bold"> ¿Cómo puedo instalar una sede SEA?</h3>

    <br>

    <p class="ml-4 mb-5"> 
        <li>Comunicarse con las autoridades educativas de su Estado.</li>
        <li>Tener el equipo de recepción de la señal satelital EDUSAT. </li>
        <li>Contar o acondicionar aulas para las asesorías.</li>
        <li>Solicitar los materiales didácticos. </li>
        <li>Contratar un grupo de asesores para que sea capacitado y atienda a los estudiantes.</li> 
    </p>

    <hr>
</div>



<!--Text-->
<div class="container">
  <h3 class="text-left text-primary mt-4 font-weight-bold">Documentos de consulta</h3>
  <br>
</div>

<!--Docs-->
<div class="container">

  <div class="single-news mb-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3">

          <!--Image-->
          <div class="view overlay rounded z-depth-1 mb-4">
            <img class="img-fluid" src="assets/img/1_plan.png" alt="Sample image">
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-PLAN-PROGR-ESTUDIO-BAJA.pdf">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-9">

          <!-- Excerpt -->
          <p class="font-weight-bold dark-grey-text">1. Plan y programas de estudio.</p>
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a target="_blank" href="assets/doc/PDF_SEA/SEA-PLAN-PROGR-ESTUDIO-BAJA.pdf" class="dark-grey-text">Descarga aquí el plan y los programas de estudio</a>
            </div>
            <a target="_blank" href="assets/doc/PDF_SEA/SEA-PLAN-PROGR-ESTUDIO-BAJA.pdf" ><i class="fas fa-angle-double-right"></i></a>
          </div>
          <hr>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
   </div>     

  <div class="single-news mt-4 mb-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3">

          <!--Image-->
          <div class="view overlay rounded z-depth-1 mb-4">
            <img class="img-fluid" src="assets/img/2_normas.png" alt="Sample image">
            <a target="_blank" href="assets/doc/PDF_SEA/Normas_de%20_Control_Escolar_SEA.pdf">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-9">

          <!-- Excerpt -->
          <p class="font-weight-bold dark-grey-text">2. Normas de Control Escolar relativas a la Inscripción, Reinscripción, 
              Acreditación y Certificación de Educación Secundaria a Distancia para Adultos.</p>
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a target="_blank" href="assets/doc/PDF_SEA/Normas_de%20_Control_Escolar_SEA.pdf" class="dark-grey-text">Conoce más acerca de las normas de control escolar</a>
            </div>
            <a target="_blank" href="assets/doc/PDF_SEA/Normas_de%20_Control_Escolar_SEA.pdf"><i class="fas fa-angle-double-right"></i></a>
          </div>
          <hr>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

  </div>

  <div class="single-news mt-4 mb-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3">

          <!--Image-->
          <div class="view overlay rounded z-depth-1 mb-4">
            <img class="img-fluid" src="assets/img/3_normas.png" alt="Sample image">
            <a target="_blank" href="assets/doc/PDF_SEA/Normas_Educacio_Basica.pdf">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-9">

          <!-- Excerpt -->
          <p class="font-weight-bold dark-grey-text">3. Normas de Control Escolar relativas a la Inscripción, Reinscripción, Acreditación y Certificación de Educación Básica.</p>
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a target="_blank" href="assets/doc/PDF_SEA/Normas_Educacio_Basica.pdf" class="dark-grey-text">Conoce más acerca de las normas de control escolar de Educación Básica</a>
            </div>
            <a target="_blank" href="assets/doc/PDF_SEA/Normas_Educacio_Basica.pdf"><i class="fas fa-angle-double-right"></i></a>
          </div>
          <hr>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

  </div>

  <br>
</div>

<app-footer></app-footer>