<app-header></app-header>
<app-navegacion></app-navegacion>

<div class= "container text-muted mt-3">
    <mdb-breadcrumb customClass="indigo lighten-5">
      <mdb-breadcrumb-item [routerLink]="['/home']" routerLinkActive="router-link-active" >SEA</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Coordinadores estatales</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">Instalar una sede SEA</mdb-breadcrumb-item>
    </mdb-breadcrumb>
  </div>

<!--Text-->
<div class="container">
    <h3 class="text-left text-default mt-4 font-weight-bold"> ¿Cómo puedo instalar una sede SEA?</h3>

    <br>

    <p class="ml-4 mb-5"> 
        <li>Comunicarse con las autoridades educativas de su Estado.</li>
        <li>Tener el equipo de recepción de la señal satelital EDUSAT. </li>
        <li>Contar o acondicionar aulas para las asesorías.</li>
        <li>Solicitar los materiales didácticos. </li>
        <li>Contratar un grupo de asesores para que sea capacitado y atienda a los estudiantes.</li> 
    </p>

</div>

<app-footer></app-footer>