<app-header></app-header>

<!--Banner-->
  <section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="assets/img/banner_sep.png">
        </mdb-carousel-item>
    </mdb-carousel>
  </section>
<!--Banner-->

<!--Intro-->
  <section>
    <div class="container my-4">
      <h3 class="text-center text-unique mt-5 font-weight-bold"> Secundaria a Distancia para Adultos (SEA)</h3>
      <br>
      <p _ngcontent-otn-c60="" class="text-center text-justify dark-grey-text">SEA es una modalidad de educación secundaria abierta y a distancia 
        que incorpora medios específicos e innovadores, creado para que la población adulta de nuestro país que no ha concluido sus 
        estudios de secundaria, continúe con su preparación educativa.</p>
      <p _ngcontent-otn-c60="" class="text-center text-justify dark-grey-text">Está dirigido a todas las personas jóvenes o adultas que no cursaron la educación secundaria o que, por razones de tiempo, 
        exigencias laborales, responsabilidades familiares, o por otro motivo, no la concluyeron.</p>
    </div>
  </section>
<!--Intro-->

<!--Carousel-->
  <section>
    <div class="container">
      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">

        <mdb-carousel-item>
          <img
            src="assets/img/banner_guias_aprendizaje.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <img
            src="assets/img/banner_plan_estudios.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </mdb-carousel-item>

      </mdb-carousel>
    </div>
  </section>
<!--Carousel-->

<!-- Info -->
<div class="container">
  <section class="mt-5">

    <!-- Grid row -->
    <div class="row">

        <!--Linea 1-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                        <img class="img-fluid" width="100%" src="assets/img/biblioteca.png">
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                      <h6 class="font-weight-bold text-default">¿Qué ofrece SEA?</h6>
                      <p class="dark-grey-text small-text"> <small> Conocimientos y habilidades que permitan a las personas adultas desempeñar 
                        mejor su trabajo; aprender a estudiar en forma independiente y manejar nuevas herramientas para la solución de 
                        problemas; comprender en forma más amplia y natural el mundo que nos rodea y, por tanto, la posibilidad de participar 
                        activamente en la vida comunitaria y nacional, así como obtener el certificado de estudios correspondiente.</small></p>
                    </div>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-sm-12 my-2">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                        <img class="img-fluid" width="100%" src="assets/img/cuaderno.png">
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                      <h6 class="font-weight-bold text-default">¿Cómo se estudia en SEA?</h6>
                      <p class="dark-grey-text small-text"> <small> De manera independiente, con el apoyo de libros y programas de televisión.
                         No es necesario asistir diariamente a un salón de clases, en un horario rígido. Las personas adultas pueden 
                         estudiar en casa y asistir semanalmente a una sede de asesoría, donde recibirán la atención personal de un asesor 
                         y podrán compartir sus experiencias con otros estudiantes inscritos en el programa.</small></p>
                  </div>
                </div>
            </div>
            <!--Grid column-->
        </div>

        <!--Linea 2-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 col-sm-12 col-xs-12 my-2">
              <div class="row">
                  <div class="col-3  col-sm-3 col-md-3 col-lg-2">
                      <img class="img-fluid" width="100%" src="assets/img/manzana.png">
                  </div>
                  <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                      <h6 class="font-weight-bold text-default">¿Qué se aprende en SEA?</h6>
                      <p class="dark-grey-text small-text"> <small> En cualquiera de los dos niveles, inicial y avanzado, los estudiantes adquieren conocimientos útiles para la vida, relacionados con las siguientes áreas:
                          <li>Lengua y Comunicación</li>
                          <li>Cálculo y Resolución de Problemas</li>
                          <li>Salud y Ambiente</li>
                          <li>Familia, Comunidad y Sociedad</li>
                          <li>Inglés (si el adulto lo requiere)</li>
                      </small></p>
                  </div>
              </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-sm-12 my-2">
              <div class="row">
                  <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                      <img class="img-fluid" width="100%" src="assets/img/certificado.png">
                  </div>
                  <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                    <h6 class="font-weight-bold text-default">¿Después de SEA?</h6>
                    <p class="dark-grey-text small-text"> <small> 
                      Una vez concluida la educación secundaria, se obtiene un Certificado de Secundaria con validez oficial por parte de la Secretaría de Educación Pública.
                      Los estudiantes de SEA estarán en condiciones de saber más para mejorar en su trabajo y en su vida. Si lo desean, podrán continuar sus estudios.</small></p>
                </div>
              </div>
          </div>
          <!--Grid column-->
      </div>

    </div>
    <!-- Grid row -->
  </section>
</div>
<!-- Info -->

<hr class="container my-2">

<!--Cards-->
  <section _ngcontent-sur-c60="" class="my-4">
    <div class="container">
      <h3 class="text-center text-unique mt-4 font-weight-bold"> SEA está dirigido a</h3>
      <div class="card-deck">
        <div class="row">

            <!-- Card -->
            <div class="col-md-4 col-xs-12 mt-2">
              <mdb-card>
                <div class="view overlay waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/img/estudiantes.png" alt="Card image cap"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body class="text-center">
                  <!--Title-->
                  <mdb-card-title>
                    <h5 class="text-center text-unique font-weight-bold">Estudiantes</h5>
                  </mdb-card-title>

                  <!--Text-->
                  <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/sistema']" routerLinkActive="router-link-active">Requisitos</button>
                  <br>
                  <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/cursos']" routerLinkActive="router-link-active">Cursos</button>
                  <br>
                  <button mdbBtn type="button" color="default-3" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/materiales']" routerLinkActive="router-link-active">Materiales</button>
                </mdb-card-body>
            </mdb-card>
          </div>

            <!-- Card -->
            <div class="col-md-4 col-xs-12 mt-2">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/img/asesores.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Title-->
                <mdb-card-title>
                  <h5 class="text-center text-unique font-weight-bold">Asesores <br> académicos</h5>
                </mdb-card-title>
                <br>

                <!--Text-->
                <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/asesores/perfil']" routerLinkActive="router-link-active">Perfil y funciones</button>
                <br>
                <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect [routerLink]="['/asesores/capacitacion']" routerLinkActive="router-link-active">Curso de capacitación</button>
              </mdb-card-body>
            </mdb-card>
          </div>

            <!-- Card -->
          <div class="col-md-4 col-xs-12 mt-2">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/img/estatales.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Title-->
                <mdb-card-title>
                  <h5 class="text-center text-unique font-weight-bold">Coordinadores <br>  Estatales</h5>
                </mdb-card-title>
                <br>

                <!--Text-->
                <button mdbBtn type="button" color="default-3" rounded="true" mdbWavesEffect [routerLink]="['/coordinadores/sede']" routerLinkActive="router-link-active">Instalar una sede SEA</button>
                <br>
                <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/coordinadores/documentos']" routerLinkActive="router-link-active">Lista de documentos</button>
              </mdb-card-body>
            </mdb-card>
          </div>

        </div>
      </div>
    </div>
  </section>
<!--Cards-->

<hr class="container">

<!--Contact-->
  <div class="container">
    <h3 class="text-center text-default mt-2 font-weight-bold"> Tus comentarios son muy importantes para nosotros</h3>
    <h5 _ngcontent-otn-c60="" class="dark-grey-text text-center">Escríbenos al correo: <span class="font-weight-bold">sea.dgme@nube.sep.gob.mx</span></h5>
    <br>
  </div>
<!--Contact-->

<app-footer></app-footer>
