a {
    cursor: pointer;
    text-decoration: none;
    color: #4f4f4f;
    transition: all 0.2s ease-in-out;
}

.card {
    box-shadow: none;
    background-color: none;
    border: 0;
    font-weight: 600;
}

.text-unique {
    color: #528ab3 !important;
}

.btn {
    text-transform: none;
    font-size: small;
}

.btn-default-2 {
    background-color: #1b7ba7de!important;
    color: #fff;
}

.btn-default-3 {
    background-color: #9263bcd7!important;
    color: #fff;
}

