<app-header></app-header>

<!--Banner-->
  <section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="assets/img/banner_sep.png">
        </mdb-carousel-item>
    </mdb-carousel>
  </section>
<!--Banner-->

<!--Texto principal-->
  <section>
    <div class="container text-center  my-4">
      <h3 class="text-unique mt-5 font-weight-bold"> Secundaria a Distancia para Adultos (SEA)</h3>
      <br>
      <p _ngcontent-otn-c60="" class="text-center text-justify dark-grey-text">SEA es una modalidad de educación secundaria abierta y a distancia 
        que incorpora medios específicos e innovadores, creado para que la población adulta de nuestro país que no ha concluido sus 
        estudios de secundaria, continúe con su preparación educativa.</p>
      <p _ngcontent-otn-c60="" class="text-center text-justify dark-grey-text">Está dirigido a todas las personas jóvenes o adultas que no cursaron la educación secundaria o que, por razones de tiempo, 
        exigencias laborales, responsabilidades familiares, o por otro motivo, no la concluyeron.</p>

        <button mdbBtn color="default" rounded="true" (click)="openModal()">Conoce más de SEA </button>

    </div>
  </section>
<!--Intro-->



<!--Carousel Notificaciones-->
  <section>
    <div class="container">
      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">


        <mdb-carousel-item>
          <img
            src="assets/img/banner_plan_estudios.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </mdb-carousel-item>


        <mdb-carousel-item>
          <img
            src="assets/img/banner_guias_aprendizaje.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </mdb-carousel-item>

      </mdb-carousel>
    </div>
  </section>
<!--Carousel-->

<!--Cards-->
  <section _ngcontent-sur-c60="" class="mt-5">
    <div class="container">
      <h3 class="text-center text-unique mt-4 font-weight-bold"> SEA está dirigido a</h3>
      <div class="card-deck">
        <div class="row">

            <!-- Card -->
            <div class="col-md-4 col-xs-12 mt-2">
              <mdb-card>
                <div class="view overlay waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/img/estudiantes.png" alt="Card image cap"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body class="text-center">
                  <!--Title-->
                  <mdb-card-title>
                    <h5 class="text-center text-unique font-weight-bold">Estudiantes</h5>
                  </mdb-card-title>

                  <!--Text-->
                  <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/sistema']" routerLinkActive="router-link-active">¿Cómo estudiar en SEA?</button>
                  <br>
                  <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/cursos']" routerLinkActive="router-link-active">Cursos</button>
                  <br>
                  <button mdbBtn type="button" color="default-3" rounded="true" mdbWavesEffect [routerLink]="['/estudiante/materiales']" routerLinkActive="router-link-active">Materiales</button>
                </mdb-card-body>
            </mdb-card>
          </div>

            <!-- Card -->
            <div class="col-md-4 col-xs-12 mt-2">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/img/asesores.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Title-->
                <mdb-card-title>
                  <h5 class="text-center text-unique font-weight-bold">Asesores <br> académicos</h5>
                </mdb-card-title>
                <br>

                <!--Text-->
                <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/asesores/perfil']" routerLinkActive="router-link-active">Perfil y funciones</button>
                <br>
                <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect [routerLink]="['/asesores/capacitacion']" routerLinkActive="router-link-active">Curso de capacitación</button>
              </mdb-card-body>
            </mdb-card>
          </div>

            <!-- Card -->
          <div class="col-md-4 col-xs-12 mt-2">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/img/estatales.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Title-->
                <mdb-card-title>
                  <h5 class="text-center text-unique font-weight-bold">Coordinadores <br>  Estatales</h5>
                </mdb-card-title>
                <br>

                <!--Text-->
                <button mdbBtn type="button" color="default-3" rounded="true" mdbWavesEffect [routerLink]="['/coordinadores/sede']" routerLinkActive="router-link-active">Instalar una sede SEA</button>
                <br>
                <button mdbBtn type="button" color="default-2" rounded="true" mdbWavesEffect [routerLink]="['/coordinadores/documentos']" routerLinkActive="router-link-active">Lista de documentos</button>
              </mdb-card-body>
            </mdb-card>
          </div>

        </div>
      </div>
    </div>
  </section>
<!--Cards-->

<hr class="container">


<div class=" container my-4 d-flex">
  <!-- Card -->
  <mdb-card
    style="background-image: url('../../assets/img/calendario.png')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center align-items-center py-5 px-4">
      <div>
        <h3 class="card-title"><strong>Calendario SEA</strong></h3>

        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->

  <!-- Card -->
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).webp')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
      <div>
        <h5 class="orange-text">
          <mdb-icon fas icon="desktop"></mdb-icon>
          Software
        </h5>
        <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
          ipsum dignissimos. Odit sed qui, dolorum!.
        </p>
        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->
</div>

<hr class="container">

<!--Contact-->
  <div class="container">
    <h3 class="text-center text-default mt-2 font-weight-bold"> Tus comentarios son muy importantes para nosotros</h3>
    <h5 _ngcontent-otn-c60="" class="dark-grey-text text-center">Escríbenos al correo: <span class="font-weight-bold">sea.dgme@nube.sep.gob.mx</span></h5>
    <br>
  </div>
<!--Contact-->

<app-footer></app-footer>
